:root {
  --background: #d9d9d9;
  --foreground: #000000;
  --white: #ffffff;
  --black: #000000;
  --red: #ff0000;
  --blue: #163262;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

header {
  background-color: var(--red);
  color: var(--white);
  padding: 0 1.5rem;
  height: 4.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  display: flex;
}

.logo-image {
  margin-top: -5px;
}

.logo-title {
  font-family: var(--font-bagel-fat-one);
  color: var(--white);
  font-size: 3rem;
  line-height: 1.8;
  user-select: none;
}

.buttons-container {
  display: flex;
  gap: 1.5rem;
}

footer {
  background-color: var(--black);
  color: var(--white);
  font-weight: bold;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
}

.home-products {
  min-height: 25vh;
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.home-products p {
  font-weight: bold;
  margin-bottom: 0;
}

.home-products ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  width: 100%;
}

.home-products article {
  padding: 0.25rem;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-products h3 {
  font-weight: normal;
  margin-top: 0.5rem;
}

main {
  padding: 1rem;
  width: -webkit-fill-available;
  max-width: 56rem;
  margin: 0 auto;
}

nav {
  background-color: var(--white);
  color: var(--black);
  height: 3.5rem;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  height: 100%;
}

nav a {
  padding: 1.1rem 1.5rem;
  font-weight: bold;
  border: 1px solid transparent;
}

nav a:hover {
  border-color: var(--black);
}

nav a.active {
  background-color: var(--black);
  color: var(--white);
}

h1 {
  text-align: center;
}

h2 {
  width: 42%;
  border-bottom: 7px solid var(--blue);
  line-height: 30px;
  margin-bottom: 2rem;
}

p {
  margin-bottom: 2rem;
}

.tableflip {
  text-align: center;
  font-size: 5rem;
  margin: 3rem;
}
